.section{
    padding: 1.5rem 2rem;
}

.div-item {
    border-bottom: 1px solid gray;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.link-github-page{
    text-decoration: none;
}

.btn-github{
    width: 100%;
    max-width: 8rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-gitdescargas{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-gitdescargas img{
    width: 4rem;
}