.section{
    padding: 0.3rem;

}


.header{
    width: 100%;
    height: 4rem;


    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1rem;
}

.item{
    padding: 1rem;
}

.header h2{
    font-size: 2rem;

}

.header div{
    background-color: black;
    color: wheat;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: 400;
}